{% extends "base.html" %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link text-white" href="{% url 'usuarios' %}">Usuarios</a>
</li>
{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="row">
    <!-- Tarjeta 1 -->
    <div class="col-md-4 mb-3">
      <div class="card bg-danger text-white card-custom">
        <div class="card-body">
          <h1 class="card-title">3</h1>
          <p class="card-text">Documentos</p>
          <i class="fas fa-envelope icon"></i>
        </div>
        <a href="#" class="btn btn-darken text-center">ir <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-md-4 mb-3">
      <div class="card bg-success text-white card-custom">
        <div class="card-body">
          <h5 class="card-title">500</h5>
          <p class="card-text">Estudiantes</p>
          <i class="fas fa-smile icon"></i>
        </div>
        <a href="{% url 'estudiantes' %}" class="btn btn-darken text-center">ir <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
