{% extends "base.html" %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'crear_estudiante' %}">Nuevo Estudiante</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'crear_curso' %}">Nuevo Curso</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'crear_persona' %}">Nueva Persona</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'crear_profesor' %}">Nuevo Profesor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'crear_padre' %}">Nuevo Padre</a>
    </li>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Listado de Estudiantes</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Padre</th>
                <th>Curso</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.persona.nombre }}</td>
                <td>{{ estudiante.fecha_nacimiento }}</td>
                <td>{{ estudiante.id_padre.persona.nombre }}</td>
                <td>{{ estudiante.id_curso.nombre }}</td>
                <td>{{ estudiante.direccion }}</td>
                <td>{{ estudiante.ciudad }}</td>
                <td><a href="{% url 'editar_estudiante' pk=estudiante.id %}">Editar</a></td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ estudiante.id }}">
                        Eliminar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% for estudiante in estudiantes %}
<div class="modal fade" id="deleteModal{{ estudiante.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ estudiante.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel{{ estudiante.id }}">Confirmar Eliminación</h5>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar al estudiante {{ estudiante.persona.nombre }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a href="{% url 'eliminar_estudiante' estudiante.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
