<div class="sidebar bg-danger text-light">
    <div class="sidebar-top">
        <img src="../assets/img/logo23.png" alt="Logo" class="logo">
        <span class="brand">SGD Las Aguilas Del Saber</span>
    </div>
    <div class="sidebar-center">
        <ul class="list">
            <li class="list-item">
                <i class="list-item-icon fas fa-home"></i>
                <a class="text-light" href="../class/principal.html">Inicio</a>
            </li>
            <li class="list-item">
                <i class="list-item-icon fas fa-user"></i>
                <a class="text-light" href="../class/usuarios.php">Usuarios</a>
            </li>
            <li class="list-item">
                <i class="list-item-icon fas fa-file-alt"></i>
                <span class="list-item-text">Documentos</span>
            </li>
            <li class="list-item">
                <i class="list-item-icon fas fa-bell"></i>
                <span class="list-item-text">Notificaciones</span>
            </li>
            <li class="list-item">
                <i class="list-item-icon fas fa-envelope"></i>
                <span class="list-item-text">Mensages</span>
            </li>
        </ul>
    </div>
</div>
